/* ROOT VARIABLE */

:root{
    /* color */
    --background-color: #000000;
    --background-color-button: #000;
    --text-color-button: #ffff;
    --primary-text-color: #f4f4f4;
    --background-task-color: #2a2a2a;
    --delete-btn-color: #ff4d4d;
    /* padding */
    --nav-padding: 12px 30px;
    --section-padding: 15px 30px;
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl:20px;
    --padding-xxl: 30px;
    --padding-2xl: 40px;
    /* border-radius */
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;
    --border-radius-circle: 50%;
    /* margin */
    --margin-sm: 5px;
    --margin-md: 10px;
    --margin-lg: 15px;
    --margin-xl: 20px;
    --margin-xxl: 30px;
    --margin-2xl: 40px;
}


